@import 'variables';

* {
    box-sizing: border-box;

}
body {
    background-color: $color-white;
    color: $color-primary;
    font-size: 16px;
}

h1, h2, h3, h4, h5, li {
    color: $color-primary;
    font-family: 'DM Serif Display', sans-serif;
}


h2, h3, h4, h5 {
    font-size: 1.875em;
}

a, button {
    cursor: pointer;
}

a {
    text-decoration: none;

    &:visited {
        color: $color-primary;
    }
}

button {
    border: none;
    text-align: center;

    * {
        height: 100%;
        width: 100%;
    }

    &:hover {
        box-shadow: 0 5px 10px $color-secondary;
    }

    &:active {
        box-shadow: inset 0 -10px 20px 8px rgba($color-secondary, 0.5);
     }
}

p {
    color: $color-secondary;
    font-family: 'Roboto', monospace;
    font-weight: 400;
}

li { 
    list-style-type: none
}

section {
    height: fit-content;
    min-height: 120vw;
    padding: 3% 0;
    overflow: hidden;
}
