@font-face {
    font-family: 'DM Serif Display Regular';
    src: url('./fonts/DMSerifDisplay-Regular.woff') format('woff');
}

body {
    background-color: #E5E5E5;
    overflow: hidden;
}

h1, h2, h3, h4, h5 {
    font-family: 'DM Serif Display', sans-serif;
}

h1 {
    font-size: 2em;
}

h2, h3, h4, h5 {
    font-size: 1.875em;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto auto;

    .nav__links {
        display: none;
    }
}

section {
    min-height: 50vh;
    padding: 5% 10%;
}

.section--beige {
    position: relative;

    img {
        position: absolute;
        z-index: 1;
        width: auto;
        max-height: 365px;
        left: 30%;

        border-radius: 0 0 0 40px;
    }

    .hero__glassbox {
        width: 60%;
        position: absolute;
        top: 20%;
        z-index: 10;
        background-color: rgba(255, 255, 255, 0.78);
        backdrop-filter: blur(14.2699px);

        h2 {
            margin: 20px 0;
        }

        p {
            font-size: 11.5px;
        }
    }
}

